.form-verification {
  background-color: #e8e8e8;

  .main-page {
    background-color: #fff;
    width: 90%;
    margin: auto;
    @media (max-width: 1024px) {
      width: 100%;
    }
    .left {
      width: 30%;
      // height: 800px;
      background-image: url(../../images/media.jpg);
      object-fit: cover;
      background-repeat: no-repeat;
    }
  }
  .copy-footer {
    padding: 10px;
    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
    h1 {
      font-family: Bebas Neue;
      font-weight: bold;
      span {
        color: red;
        font-family: Bebas Neue;
      }
    }
  }
}
