{%extends 'main/Base.html'%}
<!---->
{% load static %}
<!---->
{% block title %}Verification{% endblock %}
<!---->{% block content %}
<div class="email-verification">
  <div class="mail-page grid2">
    <div class="left flex">
      <h1>usssa <span>media hub</span></h1>
    </div>
    <div class="lefwt">
      <h2>Congraturations Your email has been successfully verified.</h2>
      <p>
        "Thank you for signing up! Your account is important to us. Due to a
        high volume of new registrations, account activation may take some time.
        Rest assured, we are working diligently to process each activation
        request. You will receive an email notification once your account is
        successfully activated.
      </p>
      <p>
        In the meantime, explore our <a href="https://usssaonline.com">website</a> for more information about our
        accreditation services. We appreciate your patience and look forward to
        welcoming you to our community soon.
      </p>
      <p>
        If you have any urgent inquiries, feel free to reach out to our support
        team at media@usssaonline.com.
      </p>
    </div>
  </div>
  
  <article class="copy-footer flex">
    <h1>USSSA</h1>
    <p> Copyright &#169 2024. All Rights Reserved</p>
  </article>
</div>

{% endblock %}
