{%extends 'main/Base.html'%}
<!---->
{% load static %}
<!---->
{% block title %}Verification{% endblock %}
<!---->{% block content %}
<div class="form-verification">
  <div class="mail-page grid2">
    <div class="left flex">
      <img src="{%static 'images/media.jpg'%}" alt="">
    </div>
    <div class="lefwt">
        <h1>Register for USSSA Media Hub</h1>
        
    </div>
  </div>
  
  <article class="copy-footer flex">
    <h1>USSSA</h1>
    <p> Copyright &#169 2024. All Rights Reserved</p>
  </article>
</div>

{% endblock %}
