{%extends 'main/Base.html'%}
<!---->
{% load static %}
<!---->
{% block title %}Verification{% endblock %}
<!---->{% block content %}
<div class="email-verification">
  <div class="mail-page grid2">
    <div class="left flex">
      <h1>usssa <span>mediahub</span></h1>
    </div>
    <div class="lefwt">
      <h2>Lorem ipsum dolor sit amet.</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus
        veritatis veniam alias animi necessitatibus doloribus accusamus impedit
        aliquam similique omnis?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus
        veritatis veniam alias animi necessitatibus doloribus accusamus impedit
        aliquam similique omnis?
      </p>
    </div>
  </div>
</div>

{% endblock %}
