{% load static %}

<!-- END wrapper -->

<!-- Vendor -->
<script src="{% static 'js/jquery.min.js'%}"></script>

<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'js/iconify-icon.min.js'%}"></script>
<script src="{% static 'js/simplebar.min.js'%}"></script>
<script src="{% static 'js/waves.min.js'%}"></script>
<script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
{% comment %} <script src="{% static 'js/jquery.counterup.min.js'%}"></script> {% endcomment %}
<script src="{% static 'js/feather.min.js'%}"></script>

<!-- Apexcharts JS -->
{% comment %} <script src="{% static 'js/apexcharts.min.js'%}"></script> {% endcomment %}

<!-- Vector map-->
{% comment %} <script src="{% static 'js/jsvectormap.min.js'%}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/world-merc.js'%}"></script> {% endcomment %}

<!-- Widgets Init Js -->
<script src="{% static 'js/crm-dashboard.init.js'%}"></script>

<!-- App js-->
<script src="{% static 'js/app.js'%}"></script>
<script src="{% static 'js/opper.js'%}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<!--Datatable scripts-->

<script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>
<script>
  $(document).ready(function () {
    $("#forms").DataTable();
  });
</script>
