{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}{{journ.fname}} {{journ.lname}}{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="athlete-dew content-wrapper">
  <div class="athlete flex">
    <div class="img-ath">
      <img src="{{journ.photo.url}}" alt="" />
    </div>
    <div class="line-ath">
      <h1>{{journ.first_name}} {{journ.last_name}}</h1>
      <p>{{journ.email}}</p>
      <hr />
      <div class="small-details grid2">
        <span
          >School:
          <h3>{{journ.school}}</h3></span
        >

        <span
          >Contact:
          <h3>{{journ.contact}}</h3></span
        >
        <span
          >Region
          <h3>{{journ.region}}</h3></span
        >
        <span
          >Region
          <h3>{{journ.position}}</h3></span
        >
        <span
          >Zone
          <h3>{{journ.zone}}</h3></span
        >
        <span
          >District
          <h3>{{journ.district}}</h3></span
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
