{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}Journalists{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="schools-dew content-wrapper">
  <div class="head flex">
    <h1>USSSA Media Accreditation</h1>
    <div class="others flex">
      <form method="post" class="form-contol">
        {% csrf_token %}
        <input type="submit" name="Accreditation" value="Accreditation" />
      </form>

      <form method="post" class="form-contol">
        {% csrf_token %}
        <input type="submit" name="Certificate" value="Certificate" />
      </form>
    </div>
  </div>
  <div class="filter flex">
    <form method="get" class="formiex flex">
      <div method="get" class="formlix flex">
        <div method="get" class="formix">
          <div class="form-group flex">
            <label for="school">Region</label>
            {{ journs_filter.form.role }}
          </div>
          <div class="form-group flex">
            <label for="school">Zone</label>
            {{ journs_filter.form.gender }}
          </div>
          <div class="form-group flex">
            <label for="school">Position</label>
            {{ journs_filter.form.status }}
          </div>
        </div>

        <button type="submit">Apply Filter</button>
      </div>
    </form>
  </div>
  <div class="filterlist glue">
    <div class="official-list">
      <table id="myTable" class="display">
        <thead>
          <tr>
            <th>Names</th>
            <th>School</th>
            <th>Region</th>
            <th>Zone</th>
            <th>District</th>
            <th>Action</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for journs in journs_filter.qs %}
          <tr>
            <td>
              <a href="">{{journs.fname}} {{journs.lname}}</a>
            </td>
            <td>{{journs.media_house}}</td>

            <td>{{journs.role}}</td>
            <td>{{journs.gender}}</td>
            <td>{{journs.status}}</td>
            <td><a href="{%url 'activate_journalist' journs.id %}">Activate</a></td>

            <td>
              <a href="">delete</a>
            </td>
          </tr>

          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
