{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}{{journ.fname}} {{journ.lname}}{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="athlete-dew content-wrapper">
  <div class="athlete flex">
    <div class="img-ath">
      <img src="{{journ.profile_photo.url}}" alt="" />
    </div>
    <div class="line-ath">
      <h1>{{journ.fname}} {{journ.lname}}</h1>
      <p>{{journ.email}}</p>
      <hr />
      <div class="small-details grid2">
        <span
          >NATIONAL ID
          <h3>{{journ.NIN}}</h3></span
        >
        <span
          >MEDIA HOUSE:
          <h3>{{journ.media_house}}</h3></span
        >

        <span
          >Role:
          <h3>{{journ.role}}</h3></span
        >
        <span
          >PHONE:
          <h3>{{journ.phone}}</h3></span
        >
        <span
          >Address
          <h3>{{journ.address}}</h3></span
        >
        <span
          >Gender
          <h3>{{journ.gender}}</h3></span
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
