<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} | USSSA CONNECT</title>
    <link rel="icon" href="{%static 'images/logo.png'%}" sizes="35x35" />
    {% include "main/css.html" %}
  </head>
  <body>
    <div class="main-wrapper">
      <div class="header"></div>
      <div class="content-area">{%block content%} {%endblock%}</div>
    </div>
    {% include "main/js.html" %}
  </body>
</html>
