{% extends "dashboard/dashboard.html" %}
<!-- IGNORE-->
{% load static %}
<!-- IGNORE-->
{% block title %}Journalists{% endblock %}
<!-- IGNORE-->
{% block content %}
<div class="container-fluid">
  <div class="py-3 d-flex align-items-sm-center flex-sm-row flex-column">
    <div class="flex-grow-1">
      <h4 class="fs-18 fw-semibold m-0">Events</h4>
    </div>

    <div class="text-end">
      <ol class="breadcrumb m-0 py-0">
        <li class="breadcrumb-item">
          <a href="javascript: void(0);">Media</a>
        </li>
        <li class="breadcrumb-item active">Events</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <a href="#" class="btn  btn-primary">Create Event</a>
        </div>
        <!-- end card header -->

        <div class="card-body">
          <div class="table-responsive table-card">
            <table
              id="example"
              class="table text-nowrap table-centered mt-0"
              style="width: 100%"
            >
              <thead class="table-light">
                <tr>
                  <th class="ps-1">Event</th>
                  <th>Venue</th>
                  <th>Department</th>

                  <th>Status</th>
                  <th>Accreditation</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for journ in events %}
                <tr>
                  <td class="ps-0">
                    <h5 class="mb-0">
                      <a href="{% url 'event' journ.id%}" class="text-inherit"
                        >{{journ.title}}</a
                      >
                    </h5>
                  </td>
                  <td>{{journ.venue}}</td>
                  <td>{{journ.start_date}}</td>
                  <td>{{journ.status}}</td>

                  <td>
                    <form method="post" class="form-contol">
                      {% csrf_token %}
                      <input
                        type="submit"
                        name="Accreditation"
                        value="Accreditation"
                        class="btn btn-sm btn-primary"
                      />
                    </form>
                  </td>
                  <td>
                    <a href="{% url 'deactivate_event' journ.id %}" class="btn btn-sm btn-outline-primary"
                      >Deactivate</a
                    >
                    <a href="{% url 'eventupdate' journ.id %}" class="btn btn-sm btn-outline-secondary"
                      >Edit</a
                    >
                    <a href="{% url 'eventdelete' journ.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
