{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}Trainees{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<h2>Create Event</h2>
<form
  method="post"
  action="{% url 'newevent' %}"
  enctype="multipart/form-data"
  class="form-control glue"
>
  {% csrf_token %} 
  <div class="fields flex">
    <div class="left">
      <div class="field flex">
        <label>{{form.title.label}}</label>{{form.title}}
      </div>
      <div class="field flex">
        <label>{{form.description.label}}</label>{{form.description}}
      </div>
    </div>
    <div class="right">
      <div class="field flex">
        <label>{{form.organiser.label}}</label>{{form.organiser}}
      </div>
      <div class="field flex">
        <label>{{form.venue.label}}</label>{{form.venue}}
      </div>
      <div class="field flex">
        <label>{{form.event_type.label}}</label>{{form.event_type}}
      </div>
      <div class="field flex">
        <label>{{form.start_date.label}}</label>{{form.start_date}}
      </div>
      <div class="field flex">
        <label>{{form.end_date.label}}</label>{{form.end_date}}
      </div>
      <div class="field flex">
        <label>{{form.event_photo.label}}</label>{{form.event_photo}}
      </div>
      <div class="field flex">
        <label>{{form.event_cover.label}}</label>{{form.event_cover}}
      </div>
    </div>
  </div>
  <button type="submit">Submit</button>
</form>

{% block tinymce_js %} {% endblock %} {% endblock %}
